In [ ]:
# make a little change

**Variables**

- 1 Variable can stores values.
- 2 which can vary(change)during program.

In [5]:
number=100
number
#100 is store in variable called 'number'

100

In [17]:
number=200
number
#200 is storing in varable called 'number'

200

In [27]:
number
#type nu
#click on tab option
#name of variable will come starting form nu

200

In [29]:
number=100
Number=200
NUmber=300
NUMBER=400

In [33]:
Number
#type Nu
#click on tab option
#names of variables start form Nu

200

In [35]:
123name=100
#number should not start with number

SyntaxError: invalid decimal literal (1167895427.py, line 1)

In [37]:
number*one=100
#variable should not have special charecters in it.

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3950969255.py, line 1)

In [41]:
nuber_one=100
number
#only under score is allow in variable name

100

**Charecterstrickes of Variable**
- variables are case sensitive
- variable can represent as capital letters
- variables csn have both combination of letters ie., capitals and small
- python will consider letest vales
- variables does not strat with numbers
- variable have number at last
- variables does not contain special chareters ie.,#,* 
- variable do not contain space in it
- only under score is allow
- key word or reserved word are not allow

In [45]:
NUM_BER=200
NUM_BER

200